
@{
    ViewBag.Title = "Inventory > Maintenance > Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <h3 class="header smaller lighter blue">Customer List</h3>
</div>

